a{
    color: #5E2D9B;
}
.rccs__card--unknown > div{
    background: linear-gradient(25deg, #5E2D9B, #402F8B)!important;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #5E2D9B;
}
.bg-primary .close{
    color: #FFFFFF;
}
.btn-outline-primary:hover{
    color: #FFFFFF;
    background-color: #5E2D9B;
    border-color: #5E2D9B;
}
.btn-outline-primary{
    color: #5E2D9B;
    border-color: #5E2D9B;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
    background-color: #5E2D9B;
    border-color: #5E2D9B;
}
.btn-primary{
    background-color: #5E2D9B;
    border-color: #5E2D9B;
}
.btn-primary:hover{
    background-color: #402F8B;
    border-color: #402F8B;
}
.btn-primary:focus{
    background-color: #402F8B;
    border-color: #402F8B;
    box-shadow:0 0 0 .2rem rgba(64,47,139,.25);
}
.btn-primary:disabled{
    background-color: #402F8B;
    border-color: #402F8B;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{
    background-color: #402F8B;
    border-color: #402F8B;
}
.btn-primary:active{
    background-color: #402F8B;
    border-color: #402F8B;
}
.react-confirm-alert-button-group{
    text-align: center;
    display: block!important;
}
.react-confirm-alert-button-group > button{
    background-color: #5E2D9B!important;
}
.bg-primary{
    background-color: #5E2D9B!important;
    color: #FFFFFF;
}
.text-primary{
    color: #402F8B!important;
}
.text-warning{
    color: #E77301!important;
}
.btn-warning{
    background-color: #E77301; 
    border-color: #E77301;
    color: #FFFFFF;
}
.btn-warning:hover{
    background-color: #F7F9FC; 
    border-color: #E77301;
    color: #E77301;
}
.btn-success{
    background-color: #22D4D7;
    border-color: #22D4D7;
}
.list-group-item.active {
    background-color: #5E2D9B;
    border-color: #402F8B;
}
.list-group-item:hover {
    background-color: #E77301; 
    border-color: #E77301;
    color: #FFFFFF;
}
.list-group-item.active:hover {
    background-color: #5E2D9B;
    border-color: #402F8B;
}
.custom-control-input:checked~.custom-control-label::before{
    background-color: #402F8B;
    border-color: #402F8B;
}
.alert-danger{
    color: #ffffff;
    background-color: #E77301;
    border-color: #E77301;
}
.form-control:focus{
    border-color:#402F8B;
    box-shadow:0 0 0 .2rem rgba(64,47,139,.25);
}
body.rtl .react-confirm-alert-body{
    text-align: right;
}
.react-datetime-picker{
    z-index: 100;
}